<?xml version="1.0" encoding="UTF-8"?>
<!-- 查找最新的schemaLocation 访问 http://www.springframework.org/schema/ -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:amq="http://activemq.apache.org/schema/core"
	   xmlns:jms="http://www.springframework.org/schema/jms"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jms
		http://www.springframework.org/schema/jms/spring-jms-4.1.xsd
		http://activemq.apache.org/schema/core
		http://activemq.apache.org/schema/core/activemq-core-5.8.0.xsd">


	<amq:connectionFactory id="connectionFactory" brokerURL="tcp://localhost:61616" />


	<!--
		声明ActiveMQ消息目的地
	-->
	<!--声明ActiveMQ队列-->
	<amq:queue id="userQueue" physicalName="user.alert.queue"/>
	<!--声明ActiveMQ主题-->
	<amq:topic id="userTopic" physicalName="user.alert.topic"/>


	<!--
		声明JmsTemplate，方便开发
	-->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<constructor-arg ref="connectionFactory"/>
	</bean>
</beans>
